body{
    background-image: url(Gym1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}
.form1 {
    
    
    
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid #170101;
    border-radius: 5px;
    color: rgb(246, 249, 251);
}

fieldset {
    border: 2px solid #e40808;
    padding: 75px;
    border-radius: 10px;
}

legend {
    font-size: 18px;
}

.d1 {
    margin-bottom: 25px;
    
}

label {
    display:block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
input[type="date"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid #e67c7c;
    border-radius: 10px;
}

.address {
    justify-content: space-between;
}

.address input {
    width: 44%;
}

.weight {
    justify-content: space-between;
}

.weight label {
    width: 45%;
}

.weight input {
    width: 44%;
}
.d1.height input{
    width: 44%;
}
.se {
    justify-content: space-between;
}
.ptype{
    display:flex;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}